//Style for create review

.review-form-container {

    font-size: 14px;
    font-weight: 400;

    padding: em(20) em(20);

    textarea {
        overflow: hidden;
        resize: none;
    }



    .review-input {

        border:none;
        border-bottom: 1px solid #ccc;
        min-height: 30px;
        padding:5px;
        width: 40%;
    }

    .review-heading {

        .company-logo {

            height: 100%;
            max-height: 100px;
            max-width: 200px;
            width: 100%;

        }

        .inside-address {

            .date-created {

                margin: em(20) 0 em(30) em(5);
            }
            .client-email {

                margin: 0 0 em(15) 0;
            }
        }
    }

    .review-body {

        margin: em(40) 0 0;

        .project-details {

            .review-input {

                //max-width: 400px;
                width:50%;
            }
        }

        .salutation {

            margin: em(30) 0 em(15);

        }

        .general-info {

            border:solid 1px #cccccc;
            border-radius: 2px;
            min-height: 100px;
            width: 100%;
        }

        .comment-container {

            padding: em(10) 0 em(20) em(20);

            .comment-list {

                padding-left: em(10);

                li {
                    padding-left: em(10);
                    position: relative;
                }


                .comment-item {

                    margin:em(-7) 0 em(15);
                    position: relative;
                    vertical-align: text-top;
                    width: 95%;
                }

                .remove-comment-btn {

                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top:20%;
                }

            }

            .add-comment-btn {

                margin-left: 20px;
            }
        }

        .closing-remark {

            width: 100%;
        }

    }

    .review-footer {

        .electronic-signature {

            height: 100%;
            margin-bottom: em(11);
            max-height: 100px;
            max-width: 200px;
            width: 100%;

        }

        .create-review-btn {

            margin: em(20) 0 0;
        }

        .project-footer {

            margin-top: em(50);

            .project-number {

                width: 80%;
            }
        }


    }

}

@include small {

    .review-form-container {

        font-size: 10px;

        padding: em(20) 0;

        .review-input {

            width: 50%;
        }

        .review-heading {

            .company-logo {

                max-height: 80px;
                max-width: 100px;
            }

        }

        .review-body {

            .project-details {

                .review-input {

                    width:60%;
                }
            }

            .comment-container {

                padding-left:em(5);

                .comment-item {

                    width: 85%;
                }

            }

        }

        .review-footer {

            .electronic-signature {

                max-height: 100px;
                max-width: 120px;
            }

        }

    }
}
