//Style for review index/listing

.review-list-container {

    .review-list-table {

        .no-record-text{

            margin: 10px 0;
        }

        tbody {

            font-weight: 400;
        }

        .option-list {

            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;

            form {

                display: inline;

                button {

                    background: none;
                    border:none;
                    padding: 0;

                    &:hover {

                        color:$brand-primary;
                    }
                }
            }


            li {

                display: inline;
                margin-right: 5%;
            }

            li a {

                color: $text-color;

                &:hover {

                    color: $brand-primary;
                }
            }

        }

    }

}

@include small {

    .review-list-container {
        font-size: 12px;
    }
};
