// Style for show review

.review-show-form-container {
    @extend .review-form-container;

    font-weight: 400;
    padding-bottom: 0;

    p,li {

        margin: 0;
        line-height: 2;
    }

    .review-body {

        margin-top: em(25);

        .project-details {

            font-weight: 700;
            text-transform: uppercase;
        }

        .general_info {

            margin-bottom: 11px;
        }

        .comment-list {

            margin: 11px 0;

            li {

                margin-bottom: 10px;
            }
        }
    }

    .review-footer {

        .company-name {

            font-weight: 700;
            text-transform: uppercase;
        }

        .copyright {

            font-size: 12px;
        }
    }

}

.option-list {

    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.option-list form{

    display: inline;

}

.option-list li {

    display: inline;
    margin-right: 5%;
}

.option-list li a {

    color: #ffffff;

}

.option-list li a:hover {

    color: #636b6f;

}

@include small {

    .review-show-form-container {

        .review-body {

            .comment-list {

                padding-left: em(30);

            }
        }

        .review-footer {

            .copyright {

                font-size: 9px;
            }
        }
    }

}
