//Styles for user account

#account-form-container {

    .tab-content {

        padding: 20px 10px;
    }

    .company-logo-wrapper {

        max-width: 200px;

        #company-logo {

            border:solid 1px #cccccc;
            display: block;
            height: 100%;
            margin: 10px 0 30px;
            max-height: 100px;
            max-width: 200px;
            width: 100%;

        }

    }

    .electronic-signature-wrapper {

        @extend .company-logo-wrapper;

    }

}

@include small {

    #account-form-container {

        font-size: 12px;

        #electronic-signature {

            @extend #company-logo;
        }
    }

};
