// Content styles

.content-container {

    background: #ffffff;
    -webkit-box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    -moz-box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    padding: em(20);

    .new-review-btn {

        margin: 0 0 10px;
    }
}

.file-upload-container {

    position: relative;
    overflow: hidden;

}
.file-upload-container input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
