$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}


@mixin large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
