//Forget Password Styles

#forget-password-wrapper {

    padding: em(80) 0 0;

    .status-box {

        margin: 0 auto 20px;
        max-width: 400px;
        width: 100%;
    }
}

#forget-password-container {

    @extend #login-container;
}
