// Login Form Styles

#login-wrapper {

    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

#login-container {

    background: #ffffff;
    -webkit-box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    -moz-box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    box-shadow: -1px 2px 24px -7px rgba(46,46,46,1);
    margin:auto;
    max-width: 400px;
    padding: em(30) em(30);
    width: 100%;

    h1 {

        font-size: em(20);
        margin: 0 0 35px;
        text-align: center;
    }

    .forgot-password-btn {

        display: block;
        margin: 15px 0 0;
        text-align:left;
    }

    .login-btn {

        margin: 30px 0;
        text-transform: uppercase;
        width: 100%;

    }

}

@include small {

    #login-container {

        padding: em(30) em(14);
    }
}
