//Register User Styles

#register-wrapper {

    @extend #login-wrapper;
}

#register-container {

    @extend #login-container;

    legend {

        color: #636b6f;
        font-size: 16px;
        margin: 0 0 20px;
        text-align: left;
    }

}
